<.flash_group flash={@flash} />
<div class="left-[40rem] fixed inset-y-0 right-0 z-0 hidden lg:block xl:left-[50rem]">
  Shouldn't see this if I don't make the base route point to the home PageController action.
</div>
